.ad{
    /* background: #E5E5E5; */
}

.estadisticas{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.estadisticas a {
    width: 45%;
    text-decoration: none; 
    color: black;
    margin: auto;
    margin-bottom: 32px;
}

.estadisticas .est-users,
.estadisticas .est-declaraciones,
.estadisticas .est-declaraciones-report {
    width: 100%;
    font-family:"AbeeZee";
    display: flex;
    /* margin: auto; */
    /* margin-bottom: 32px; */
    align-items: center;
    background: #FBFEF9;
    border: solid 1px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}

.estadisticas .est-users:hover,
.estadisticas .est-declaraciones:hover,
.estadisticas .est-declaraciones-report:hover {
    background: rgb(243, 243, 243);
    cursor: pointer;
}

/* .estadisticas .est-declaraciones:hover {
    background: rgb(243, 243, 243);
    cursor: pointer;
}

.estadisticas .est-declaraciones-report:hover {
    background: rgb(243, 243, 243);
    cursor: pointer;
} */

.estadisticas .est-users .fas,
.estadisticas .est-declaraciones .fas,
.estadisticas .est-declaraciones-report .far {
    display: flex;
    justify-content: center;
    padding: 40px;
    font-size: 100px;
    /* width: 138px; */
    width: 15%;
    color: #FFFFFA;
    border-radius: 8px 0 0 8px;
}

.estadisticas .est-users .fas { 
    background: #0F8B8D; 
}

.estadisticas .est-declaraciones .fas { 
    background: #FFE74C; 
}

.estadisticas .est-declaraciones-report .far { 
    background: #800E13; 
} 

.info-t {
    padding-right: 25px;
    padding-left: 25px;
    width: 85%;
}

.info-t .tl {
    font-size: 32px; margin: 0px;
}
.info-t .est {
    font-size: 22px;
}

/* .cl-report{
    background: #800E13;
} */

