body {
	width: 100vw;
	height: 100%;
    margin: 0 auto;
    padding: 0px;
	display: flex;
  	/* justify-content: center; */
	align-items: center;
    font-family: "Ubuntu";
	/* background-image: url('../../../public/img/sun2.jpg'); */
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.cont {
    width: 100vw;
}

.Landing {
	display: flex;
	flex-direction: row;
	width: 70%;
	height: 80vh;
	background-color: rgba(0, 0, 0, 0.4);
	margin: 0 auto;
	border-radius: 8px;
	overflow: hidden;
}

.container-right {
	width: 60%;
	padding: 15px;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.95);
	border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	display: flex;
  	justify-content: center;
	align-items: center;
}

/* -----ESTILOS RESPONSIVE ----- */
@media screen and (max-width: 1000px){
	.Landing {
		width: 80%;
	}
}

@media screen and (max-width: 730px){
	.Landing{
		height: auto;
	}
    .container-right {
        width: 100%;
        border-top-left-radius: 8px;
        -moz-border-radius-topleft: 8px;

        border-bottom-left-radius: 8px;
        -moz-border-radius-bottomleft: 8px;
    }
}

@media screen and (max-width: 450px){
	.Landing{
		width: 100%;
		height: 100%;
		border-radius: 0px;
	}
	body{
		background-image: none;
	}
	.container-right {
		border-radius: 0px;
		background: #ECE9E6;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	
	}
}